# ==============================
# СЕКРЕТЫ И КЛЮЧИ (САМОЕ ВАЖНОЕ)
# ==============================
.env
*.env
.env.*

# ==============================
# ПАПКИ PYTHON И БОТА
# ==============================
__pycache__/
*.py[cod]
*$py.class
venv/
env/
.venv/
.pytest_cache/

# ==============================
# ПАПКИ REACT И NODE.JS (Frontend)
# ==============================
frontend/node_modules/
frontend/dist/
frontend/dist-ssr/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# ==============================
# СИСТЕМНЫЕ ФАЙЛЫ И НАСТРОЙКИ РЕДАКТОРОВ
# ==============================
.vscode/
.idea/
.DS_Store
Thumbs.db