.env
**/.env
/.env
frontend/.env.local

__pycache__/
*.py[cod]
*$py.class
venv/
env/
.venv/
.pytest_cache/

frontend/node_modules/
frontend/dist/
frontend/dist-ssr/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

.vscode/
.idea/
.DS_Store
Thumbs.db